{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}

{% block title %}
  <title> مسکن دیوار به دیوار | لیست </title>
{% endblock title %}

{% block add_css %}
<link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/xb-titre" type="text/css"/>
{% endblock add_css %}
{% block content %}

<div style="margin-top: 10%;" class="container">
    <div class="row">
      <div class="disp-none col-md-12 div-list-a" href="#" style="text-align:right; ">
          <span><a style="{% if slug == 'frosh' %}color: #e99c2e; {% endif %}"  class="font-Lalezar" href="{% url 'products:list-seller-products' category_slug='frosh' %}"> فروش </a></span>
          <span><a style="{% if slug == 'villa' %}color: #e99c2e; {% endif %}" class="font-Lalezar" href="{% url 'products:list-seller-products' category_slug='villa' %}"> ویلا </a></span>
          <span><a style="{% if slug == 'rhn-va-ejare' %}color: #e99c2e; {% endif %}" class="font-Lalezar" href="{% url 'products:list-seller-products' category_slug='rhn-va-ejare' %}">رهن و اجاره </a></span>
          <span><a style="{% if slug == 'proje' %}color: #e99c2e; {% endif %}" class="font-Lalezar" href="{% url 'products:list-seller-products' category_slug='proje' %}">پروژه مسکونی</a></span>
      </div>
      <div style="margin-top:10px;" class="col-sm-12 col-lg-9 col-md-12">
        <div class="row">
          {% if object_list %}
          {% for object in object_list %}
          <div style="margin-top:5px;" class="col-list-object col-lg-6 col-md-6">
              <a class="col-3-a" href="{{ object.get_absolute_url }}">
                  <div class="image-text">
                    {% thumbnail object.image "300x300" as im %}
                    <img src="{{im.url}}" height="250px" alt="">
                    {% endthumbnail %}
                    <div  class="bottom-right">{{object.name}}</div>
                  </div>

                  <div style="width: 100%;" class="product-box" > <!-- container -->
                    <p class="font-mirza list-address" >  ادرس : {{object.address}} </p>
                    {% if object.type == 'rhn'  %}
                    <div>
                      <p style="margin-top: 10%; margin-bottom: 10%;" class="font-mirza price-list" > {{object.pish}} :زهن</p>

                    </div>
                    {% elif object.type == 'ejare' %}
                    <div>
                      <p class="font-mirza price-list" > {{object.pish}} :پیش پول</p>
                      <p  class="font-mirza price-list" > {{object.pol_mhn}} :اجاره ماهیانه<p>
                    </div>
                    {% elif object.type == 'frosh' or object.type == 'villa' or object.type == 'proje' %}
                    <div>
                      <p class="font-mirza price-list" > {{object.price}} :قیمت</p>
                      <p  class="font-mirza price-list"> {{object.price_met}} :قیمت هر متر مربع<p>
                    </div>
                    {% endif %}

                    <div class="p-list" style="font-size: 1.2rem; width:100%; display: inline-flex;" >
                        <p class="font-mirza list-col3" style="{% if object.year == 99 %} margin-left: 25%; {% else %} margin-left:5% {% endif %}">{{object.area}}:متراژ</p>
                        <p class="font-mirza list-col3" style="  {% if object.year == 0 %}  margin-left: 23%; {% else %}  margin-left: 13%;{% endif %}">
                          {% if object.year == 0 %}
                           نوساز
                           {% else %}
                            {% if object.year != 99 %}
                           <p class="font-mirza pp-list" style=" display:inline-flex; margin-right:2px;">
                              سال ساخت
                           </p>

                           <span class="font-mirza pp-list" >{{object.year}}</span>
                           {% endif %}
                            {% endif %}
                        </p>
                        <p class="font-mirza list-col3"  style=" margin-left: 16%; "> {{object.bedroom}}:اتاق </p>
                    </div>
                    <div class="row">
                      <div class="col-md-6 col-sm-6 col-xs-6">
                        <p class="list-file" style="color: #007b5e;">{{object.file_number}} : شماره فایل </p>
                      </div>
                      <div class="col-md-6 col-sm-6 col-xs-6">
                        <p class="list-file" style="color:darkred;" >{% if object.type == 'frosh' %} فروش {% elif object.type == 'villa' %} ویلا  {%  elif object.type == 'rhn'  %} رهن  {%  elif object.type == 'ejare'  %} اجاره {%  elif object.type == 'proje'  %} پروژه {% endif %}</p>
                      </div>
                    </div>
                    <p class="font-Lalezar"> مشاور فروش : {% if object.type == 'villa' %} خانم صالح نیا {% elif object.type == 'frosh' and object.Nastaghi == True %} کامران بلیغ پور {%  elif object.type == 'frosh' %}  میلاد گلفام{% else %} خانم رنجبر {% endif %} <p>

                    <div class="call-block hidden-phone" >
                      <a class="btn btn-dark" href="tel:{% if object.type == 'villa' %} 09331316262 {% elif object.type == 'frosh' and object.Nastaghi == True %} 09119343533 {%  elif object.type == 'frosh' %} 09114277731 {% else %} 01333265503 {% endif %}">تماس با مشاور فروش</a>
                      <a style="margin-left: 5%; " class="btn btn-dark" href="tel:01333261533"> تماس با دفتر </a>

                    </div>
                    <div class="hidden-not-phone font-mirza" style="display:block font-size: 1.1rem; float:right;">
                      <p style="float:right;">     f شماره دفتر : 01333265303 </p>
                      <p style="margin-right: 3px; float:right;">{% if object.type == 'villa' %} 09331316262 {% elif object.type == 'frosh' and object.Nastaghi == True %} 09119343533 {%  elif object.type == 'frosh' %} 09114277731 {% else %} 01333265503 {% endif %} : شماره تماس مشاور  </p>
                      <p></p>
                    </div>
                  </div>
              </a>
            </div>
        {% endfor %}
        {% else %}
          <div class="" style="width:100%;">
            <p style="margin-bottom: 200px; margin-left:40%; font-size:2rem; color:red;" class="font-Lalezar">موردی پیدا نشد</p>
          </div>
        {% endif %}



        </div> <!-- inner row -->
      </div> <!-- col-md-8 -->

      <div style="height: 20%;" class= "product-box product-box-display  col-sm-12 col-lg-3 col-md-12">
        <h3 class="ul-li font-Lalezar-h3">دسته بندی</h3>
            <ul>
              <form class="" action="." method="get">
              <li class="ul-li "><a class="col-3-a a-hover font-Lalezar" href="{% url 'products:list-seller-products' category_slug='frosh' %}">فروش <i class="fa fa-angle-double-right"></i></a></li>
                <li class="ul-li"><a class="col-3-a a-hover  font-Lalezar" href="{% url 'products:list-seller-products' category_slug='rhn-va-ejare' %}">رهن و اجاره <i class="fa fa-angle-double-right"></i></a></li>
                <li class="ul-li"><a class="col-3-a  font-Lalezar" href="{% url 'products:list-seller-products' category_slug='villa' %}">ویلا <i class="fa fa-angle-double-right"></i></a></li>
                <li class="ul-li"><a class="col-3-a  font-Lalezar" href="{% url 'products:list-seller-products' category_slug='proje' %}">پروژه مسکونی <i class="fa fa-angle-double-right"></i></a></li>

            </ul>

        </div> <!-- outter row -->

  {% if object_list %}

    <div class="pagination page-div">
      <span class="step-links">
        {% if page_obj.has_next %}
            &laquo;
            <a class="page-first"  href="?page={{ page_obj.paginator.num_pages }}&{{ urlp  }}">اخرین صفحه</a>
            <a class="page-next" href="?page={{ page_obj.next_page_number }}&{{ urlp  }}">صفحه بعدی</a>
        {% endif %}


        <span  class="current page-number">
            صفحه {{ page_obj.number }} از {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_previous %}
          <a class="page-prev" href="?page={{ page_obj.previous_page_number }}&{{ urlp  }}">صفحه قبلی</a>
          <a href="?page=1&{{ urlp  }}" class="page-last">  اولین صفحه </a>
          &raquo;
        {% endif %}

      </span>
    </div>
{% endif %}
  </div> <!-- container -->
</div>

<script>
  function openNav() {
    // document.getElementById("mySidebar").style.display = "block";

    document.getElementById("mySidebar").style.width = "100%";
    document.getElementById("main").style.marginRight = "250px";
  }

  function closeNav() {
    // document.getElementById("mySidebar").style.display = "none";

    document.getElementById("mySidebar").style.width = "0%";
    document.getElementById("main").style.marginRight= "0";
  }
  </script>
{% endblock content %}
